body{
  background-image: url(https://snipboard.io/hdL5RZ.jpg);
  color: white;
  box-sizing: border-box;
 font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 


header{
  text-align: center;
font-size: 25px;

}
main{
  background-color: #13324f;
  margin: 0 auto;
  width: 600px;
  height: auto;
  padding: 20px;  
}
h3
{
  font-size: 25px;
  text-align: center;
}

footer{
 background-color: #13324f; 
  margin: 0 auto;
  width: 600px;
  height: auto;
  padding: 20px; 
  text-align: center
}

#image{
max-width: 100%;
  height: auto;
display: block;
}